div.ui.raised.card.host {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

div.ui.raised.card.selected {
  border: 2px solid red;
  borderRadius: 5px;
}

div.ui.raised.card.selected:hover {
  border: 2px solid red;
  borderRadius: 5px;
}
